<section class="content">
  <header>
    <h1>Shop</h1>
    <p>
      Vineyards farmed responsibly. Serious wine presented with a warm sense of
      humor. This is Frog's Leap. Bring a bottle to your table. Stash a few in
      your Cellar. Lift a glass with friends. Drink it. We'll make more.
    </p>
  </header>

  <div class="sideArticle">
    <article>
      <!-- Side bar filter -->
      <div>
        <h2>Price</h2>
        <input
          type="radio"
          id="highLow"
          name="listOrder"
          class="filter"
          value="1"
          checked
        />
        <label for="highLow">Price - High to Low</label><br />
        <input
          type="radio"
          id="lowHigh"
          name="listOrder"
          class="filter"
          value="2"
        />
        <label for="lowHigh">Price - Low to High</label><br />
      </div>
      <div>
        <h2>Type</h2>
        <input
          type="checkbox"
          id="redWine"
          name="wineType"
          class="filter"
          checked
        />
        <label for="redWine">Red</label><br />
        <!-- Price range for this can be editted by js -->
        <input
          type="checkbox"
          id="whiteWine"
          name="wineType"
          class="filter"
          checked
        />
        <label for="whiteWine">White</label><br />
      </div>
    </article>

    <article id="wineDisplay">
      <app-shop-item></app-shop-item>
    </article>
  </div>
</section>
<article class="imgArticle">
  <!-- Use background image for this article with opacitiy set lower -->
  <h5>Your next order ships free.</h5>
  <p>Receive exclusive offers and access to products before the others.</p>
</article>
