$primary-color: #c7b198;
$secondary-color: #929292;

$breakpoint: (
  mobile: 576px,
  tablet: 768px,
  desktop: 992px,
);

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin basic-spacing {
  padding: 1rem;
}

section header {
  text-align: center;
  @include basic-spacing;
  h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    padding: 1rem 20%;
  }
}

h1 {
  font-size: 40px;
  color: #444444;
}

.sideArticle {
  @include flex-row;
  article {
    @include basic-spacing;
    h2 {
      font-weight: bold;
      font-size: 1rem;
      color: $primary-color;
    }
    &:nth-of-type(1) {
      width: 20rem;
      align-self: flex-start;
      display: none;
      @media screen and (min-width: map-get($breakpoint, tablet)) {
        display: block;
      }
      div {
        @include basic-spacing;
        > * {
          margin: 0.5rem 0;
        }
      }
    }
    &:nth-of-type(2) {
      @include flex-row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-start;
      div {
        @include basic-spacing;
        width: 100%;
        text-align: center;
        > * {
          margin: 0.5rem;
        }
        @media screen and (min-width: map-get($breakpoint, tablet)) {
          width: 40%;
        }
        @media screen and (min-width: map-get($breakpoint, desktop)) {
          width: 25%;
        }
      }
      img {
        max-width: 10rem;
        max-height: 15rem;
      }
    }
  }
}

.imgArticle {
  color: black;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/img/shop-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
  > * {
    @include basic-spacing;
  }
  h5 {
    font-weight: bold;
    font-size: 1.25rem;
  }
}
