<header>
  <!-- Logo goes here -->
  <a href="index.html"><img src="../../assets/img/logo.png" /></a>

  <nav>
    <ul class="menu">
      <li class="toggle">
        <a href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="item"><a href="index.html">Home</a></li>
      <li class="item"><a href="shop.html">Shop</a></li>
      <li class="item"><a href="gallery.html">Gallery</a></li>
      <li class="item"><a href="contact.html">Contact</a></li>
    </ul>
    <!-- Icons for for the user and cart -->
    <ul class="login-cart">
      <!--Login-->
      <li>
        <a href="login.html"><i class="fa fa-user"></i></a>
      </li>
      <!--Cart-->
      <li>
        <a href="cart.html" class="cartGroup">
          <i class="fa fa-shopping-cart"></i>
          <span class="cartNumber"></span>
        </a>
      </li>
    </ul>
  </nav>
</header>
