<section class="content">
  <header>
    <div class="text-center mt-5">
      <h1 class="text-dark icon-collapse">Your Cart</h1>
    </div>
  </header>

  <article class="container mt-5 mb-4">
    <div *ngIf="cartItems.length === 0">
      <div class="cart-empty" style="text-align: center">
        <p>Your Cart Is Empty</p>
      </div>
      <hr />
    </div>
    <div *ngIf="cartItems.length > 0">
      <div *ngFor="let item of cartItems">
        <app-cart-item [cartItem]="item"></app-cart-item>
      </div>
    </div>
  </article>

  <div class="container d-sm-flex justify-content-between-sm mb-4">
    <div class="d-none d-sm-block d-sm-flex">
      <div class="p-2 continous-btn align-self-center">
        <i class="fa fa-caret-left"></i>
      </div>
      <div class="p-2 continous-btn align-self-center">
        <a class="cont-shopping" routerLink="/shop"> Continous Shopping</a>
      </div>
    </div>
    <div class="p-2 ml-auto text-center">
      <a href="checkout.html">
        <button type="button" class="btn proceed-btn">
          Proceed To Checkout
        </button>
      </a>
    </div>
  </div>
</section>
