$primary-color: #c7b198;
$secondary-color: #929292;

h1 {
  font-size: 40px;
}

hr {
  width: 85%;
}

.proceed-btn {
  background-color: $primary-color;
  color: white;
}

.cont-shopping {
  text-decoration: none;
  color: $secondary-color;

  &:hover {
    color: $secondary-color;
  }
}
