$primary-color: #c7b198;
$secondary-color: #929292;

h1 {
  font-size: 40px;
}

hr {
  width: 85%;
}

.product-item,
.product-price {
  max-width: 100%;
  @media screen and (min-width: 768px) {
    width: 25%;
  }
}

.product-price {
  .total-price {
    margin-right: 0;
  }
}

.item-title {
  color: $primary-color;
}

.quantity-box {
  height: 40px;
  width: 40px;
}

.proceed-btn {
  background-color: $primary-color;
  color: white;
}

.cont-shopping {
  text-decoration: none;
  color: $secondary-color;

  &:hover {
    color: $secondary-color;
  }
}
