h1 {
  font-size: 40px;
  color: #444444;
}

.sideArticle {
  display: flex;
  article {
    h2 {
      font-weight: bold;
      font-size: 1rem;
      color: $primary-color;
    }

    &:nth-of-type(1) {
      align-self: flex-start;
      display: none;

      @media screen and (min-width: map-get($breakpoint, tablet)) {
        display: block;
        width: 215px;
      }
      @media screen and (min-width: map-get($breakpoint, desktop)) {
        width: 200px;
      }
      div {
        @include basic-spacing;
        > * {
          margin: 0.5rem 0;
        }
      }
    }

    &:nth-of-type(2) {
      width: 100%;
      @include grid-creator(1fr, 1fr, 1, 0, 0);

      @media screen and (min-width: map-get($breakpoint, tablet)) {
        @include grid-creator(1fr, repeat(2, 1fr), 2, 0, 0);
      }

      @media screen and (min-width: map-get($breakpoint, desktop)) {
        @include grid-creator(1fr, repeat(3, 1fr), 3, 0, 0);
      }
    }
  }
}

.imgArticle {
  color: black;
  width: 100%;
  text-align: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../../assets/img/shop-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
  > * {
    @include basic-spacing;
  }
  h5 {
    font-weight: bold;
    font-size: 1.25rem;
  }
}
