$secondary-color: #929292;

.back-to-shop {
  margin-left: 20px;
  margin-top: 20px;

  i {
    font-size: 20px;
  }

  a {
    font-size: 20px;
    color: $secondary-color;
    text-decoration: none;
  }
}

.detail {
  display: flex;

  .detail-grid {
    align-self: center;
  }

  img {
    width: 85%;
  }

  .description {
    font-size: 20px;
  }
}
