<div
  class="d-flex my-4 flex-column flex-md-row align-items-center justify-content-around"
>
  <div class="product-item text-center">
    <img [src]="cartItem.image" alt="mall" />
  </div>
  <div class="product-item text-center">
    <p class="item-title my-4">{{ cartItem.name }}</p>
  </div>
  <div class="product-item">
    <div class="d-flex flex-row align-items-center justify-content-center">
      <p class="price mx-4">${{ cartItem.price }}</p>
      <i class="fa fa-plus-circle quantity-btn quantity-plus"></i>
      <input type="text" class="quantity-box mx-3" [value]="cartItem.qty" />
      <i class="fa fa-minus-circle quantity-btn quantity-minus"></i>
    </div>
  </div>

  <div class="product-price">
    <p class="price total-price my-4 item-total">
      ${{ (cartItem.price * cartItem.qty).toFixed(2) }}
    </p>
  </div>
</div>

<hr />
