@import "../scss/variables";
@import "../scss/mixins";

div {
  h2 {
    font-weight: bold;
    font-size: 1rem;
    color: $primary-color;
  }

  @include basic-spacing;
  text-align: center;
  > * {
    margin: 0.5rem;
  }

  .shop-img {
    max-width: 10rem;
    max-height: 15rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .shop-img:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}
