<footer>
  <h5>Planet wine</h5>
  <p>3700 Willingdon Ave, Burnaby, BC V5G 3H2</p>

  <div class="social">
    <ul>
      <li>
        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
      </li>
    </ul>
  </div>
  <p>&copy; All Right Reserved</p>
</footer>
